


.subtitle{
 font-size:25px;
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px;
    margin:10px;
   font-family: roboto;
   border-radius:10px;


}
.artgallery{

  width:100%;
  height:auto;
   display:flex;
  justify-content:center;
  align-items:center;
    flex-wrap:wrap;

}
.image,#image{
  border-radius:5px;
  width:300px;
  margin:20px;
  display:flex;
  justify-content:center;
  align-items:center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.incounting{
   display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  width:100vw;
  font-size:20px;
font-family:roboto;
}
#totalimages{
  font-size:25px;
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px;
    margin:10px;
	  border-radius:10px;
   font-family: roboto;
}
