body {
  margin: 0;
  background: black;
  color: #ff4c38;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  color:blue;
}

.subtitle {
  font-size: 25px;
  background: black;
  color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
}

.incounting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 20px;
  margin: 20px 0;
  color:blue;
  text-align: center;
}

#totalimages {
  font-size: 25px;
  background: black;
  color: blue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}

.artgallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  width: 100%;
  max-width: 1600px;
}

.gallery-image {
  border-radius: 10px;
  width: 300px;
  height: auto;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 3px,
    rgba(9, 30, 66, 0.13) 0px 0px 3px 1px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.gallery-image:hover {
  transform: scale(1.05);
  box-shadow: blue 0px 4px 15px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .title {
    font-size: 36px;
    margin-top: 20px;
  }

  .subtitle {
    font-size: 20px;
    padding: 5px 10px;
  }

  #totalimages {
    font-size: 20px;
  }

  .gallery-image {
    width: 90%;
    max-width: 350px;
  }
}
