


.subtitle{
 font-size:25px;
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px;
    margin:10px;
   font-family: roboto;


}
.artgallery{

  width:80vw;
  height:auto;
   display:flex;
  justify-content:center;
  align-items:center;
    flex-wrap:wrap;

}
.image,#image{
  border-radius:5px;
  width:300px;
  margin:20px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.incounting{
   display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  width:100vw;
  font-size:20px;
font-family:roboto;
}
#totalimages{
  font-size:25px;
  background:black;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:5px;
    margin:10px;
   font-family: roboto;
}
