body{
  background-size:cover;
  background-position:center;
  display:flex;
  width:100vw;
  justify-content:center;
  align-items:center;
}
.logocontainer{
          transition:0.2s;
          display:flex;
          align-items:center;
          justify-content:center;
          flex-direction:column;
		  width:200px;
		  height:200px;
}
.logowrapper{
	width:300px;
	position:absolute;
	animation:spin 7s infinite linear;
}
@keyframes spin{
	from{transform:rotate(360deg);}
	to{transform:rotate(0deg);}
}
.logo{
	font-family:roboto;
	font-size:50px;
	font-weight:bold;
}
.subtitle{
  font-family: roboto;
  animation:fadeInUp 1s 1;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
.subtitle > div{
  font-size:13px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.subtitle > div > i{
  margin:10px;
    font-size:25px;
}
.buttongroup{
    animation:fadeInUp 1s 1;
    display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  flex-direction:column;
}
.pagehrefb{
	 display:flex;
  align-items:center;
  justify-content:center;
  height:auto;
  width:100%;
  text-decoration:none;
}
.pagehrefb > button{
  height:70px;
width:97%;
color:#ff4c38;
font-weight:bold;
  border:2px solid black;
  background:black;
  border-radius:10px;
  transition:0.2s;
  display:flex;
  align-items:center;
  justify-content:center;
    font-size:25px;
      font-family: roboto;
}
.pagehrefb > button:hover{
  background:black;
  color:#ff4c38;
  transition:0.2s;
  cursor:pointer;
    box-shadow: none;
		 transform:rotate(2deg);
}
.socialbuttons{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:row;
	width:100%;
}
.socialbuttons > a > button > i{
  color:#ff4c38;
  font-size:30px;
}
.socialbuttons > a > button:hover > i{
  transition:0.2s;
  cursor:pointer;
}
.socialbuttons > a{
  width:25%;
  margin:10px;
  text-decoration:none;
}
.socialbuttons > a > button{
  width:100%;
  padding:0px 10px;
  height:70px;
  border:2px solid black;
  background:black;
  border-radius:10px;
  transition:0.2s;
  display:flex;
  align-items:center;
  justify-content:center;
    font-size:25px;
      font-family: roboto;
}
.socialbuttons > a > button:hover{
background:black;
  color:#ff4c38;
  cursor:pointer;
  	font-size:25px;
	transition:0.2s;
	 transform:rotate(5deg);
}
.socialbp{
	display:none;
}
@keyframes width{
	from{width:0%;color:black;font-size:0px;}
	to{width:100%;color:#ff4c38;font-size:20px;}
}
.feedbackcontainer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  height:50px;
  padding:10px 0px;
  width:100%;
}
#feedback{
  width:60%;
  margin-left:10px;
  height:100%;
  border-radius:0px;
  background:black;
  border:2px solid black;
  outline:none;
  text-align:center;
  border-radius:10px;
    font-weight:bold;
	
}
#email{
  width:30%;
  height:100%;
  border-radius:0px;
  border:2px solid black;
   outline:none;
   background:black;
     border-radius:10px;
	    margin:10px;
		text-align:center;
		  font-weight:bold;
}
#email:hover, #feedback:hover{
	 transform:rotate(2deg);
	 transition:0.2s;
}
#sendfeedbackb{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width:10%;
  color:#ff4c38;
    margin:10px;
  background:black;
    border-radius:10px;
 font-size:20px;
 border:27px solid black;
 font-family:roboto;
 font-weight:bold;
 outline:none;
 cursor:pointer;
 transition:0.3s;
 transform:rotate(0deg);
}
#sendfeedbackb:hover{
	font-size:25px;
	transition:0.3s;
	 transform:rotate(10deg);
}
#emailbottom{
  color:#ff4c38;
  font-family:roboto;
  font-size:30px;
  font-weight:bold;
   text-decoration: underline;
   transition:0.3s;
}
#emailbottom:hover{letter-spacing:5px;transition:0.3s;}

@media only screen and (max-width: 700px) {

  body{
  background:white;
  background-size:cover;
  background-position:center;
  
}
#email{text-align:center;}
 #feedback{text-align:center;}
  .buttongroup{
    flex-direction:column;
    width:100%;
  }
  .socialbuttons{
	  flex-direction:column;
  }
  .socialbuttons > a{
	  width:100%;
  }
  .socialbp{
	display:flex;
	margin:10px;
	font-weight:bold;
}
  .buttongroup > a{
    color:black;
    width:100%;
    text-decoration:none;
    display:flex;
  justify-content:center;
  align-items:center;
  }
  .buttongroup > a > button{
    width:100%;
    color:black;
	margin:10px 0px;
  }
  .logo{
    font-size:50px;
  }
  .feedbackcontainer{
    flex-direction:column;
    width:100%;
    height:50vh;
  }
  #feedback,#email{
  width:100%;
  margin:10px 0px;
  }
  #sendfeedbackb{
width:100%;
height:10vh;
 margin:10px 0px;
  }
  .subtitle{
    flex-direction:column;
  }
  .buttongroup > .socialbuttons{
  width:80%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
#emailbottom{
  font-size:26px;
}
  
}

