@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css');

  html {
  scroll-behavior: smooth;
}
  
body{
  background:#ffe2a6;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  width:100vw;
  height:100vh;
  overflow:hidden;
  max-width:100vw;
}
.container{
  border:2px solid black;
  width:50vw;
  height:60vh;
   display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  box-shadow: #e0c792 0px 5px 5px,rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.header{
   border:2px solid black;
  width:50vw;
  height:5vh;
   display:flex;
  align-items:center;
  flex-direction:row;
  margin-bottom:-2px;
  box-shadow:rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;;
}
.headerbuttons{
  margin:0px 10px;
}
.headerbuttons > i{
  margin:5px;
  font-size:20px;
}
.logocontainer{
  border:2px solid black;
      padding:10px 20px;
        margin:10px;
         box-shadow: #e0c792 0px 5px 5px;
}
.logo{
  font-family: 'Playfair Display', serif;
  font-weight:bold;
    font-size:calc(50px + 2vw);
    animation:fadeInUp 1s 1;
    text-align:center;
      -webkit-text-fill-color: black;
      letter-spacing:2px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  
}
.logofullname{
    font-family: 'Playfair Display', serif;
    text-align:center;
}
.subtitle{
  font-family: 'Playfair Display', serif;
  margin-top:-20px;
  animation:fadeInUp 1s 1;
  
}
.buttongroup{
    animation:fadeInUp 1s 1;
}
.buttongroup > a{
  width:auto;
  height:auto;
}
.buttongroup > a  > button{
  padding:20px;
  border:2px solid black;
  background:none;
  transition:0.2s;
    box-shadow: #e0c792 0px 5px 5px;
      font-family: 'Playfair Display', serif;
}
.buttongroup > a > button:hover{
  background:black;
  color:white;
  transition:0.2s;
  cursor:pointer;
    box-shadow: none;
}
@media only screen and (max-width: 600px) {
  .container{
    width:80vw;
    height:90vh;
  }
  .header{
    display:none;
  }
}
