body{
  background-image:url("images/homepagebackground.png");
  background-size:cover;
  background-position:center;
  
}
.logocontainer{
  border:2px solid black;
      padding:20px 20px;
        margin:10px;
        background:black;
          transition:0.2s;
          display:flex;
          align-items:center;
          justify-content:center;
          flex-direction:column;
}
.logo{
  font-family: 'Playfair Display', serif;
  font-weight:bold;
    font-size:calc(30px + 4vw);
    animation:fadeInUp 1s 1;
    text-align:center;
color:white;
  
}
.logofullname{
    font-family: 'Playfair Display', serif;
    text-align:center;
    color:white;
}
.subtitle{
  font-family: 'Playfair Display', serif;
  margin-top:-20px;
  animation:fadeInUp 1s 1;
  text-align:center;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
.subtitle > div{
  font-size:13px;
  display:flex;
  align-items:center;
  justify-content:center;
}
.subtitle > div > i{
  margin:10px;
    font-size:25px;
}
.buttongroup{
    animation:fadeInUp 1s 1;
    display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  flex-direction:column;
}
.buttongroup > a{
  width:85%;
  height:auto;
  margin:10px;
  text-decoration:none;
}
.buttongroup > a > button{
  width:100%;
  padding:0px 10px;
  height:70px;
  border:2px solid black;
  background:none;
  transition:0.2s;
  display:flex;
  align-items:center;
  justify-content:center;
    font-size:25px;
      font-family: 'Playfair Display', serif;
}
.buttongroup > a > button > i{
  color:black;
  font-size:30px;
}
.buttongroup > a > button:hover{
  background:black;
  color:white;
  transition:0.2s;
  cursor:pointer;
    box-shadow: none;
}
.buttongroup > a > button:hover > i{
  color:white;
  transition:0.2s;
  cursor:pointer;
    box-shadow: none;
}
.feedbackcontainer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:row;
  height:50px;
  margin-bottom:10px;
  width:85%;
}
#feedback{
  width:60%;
  height:100%;
  border-radius:0px;
  border:2px solid black;
  margin:-2px;
  outline:none;
}
#email{
  width:30%;
  height:100%;
  border-radius:0px;
  border:2px solid black;
   outline:none;
}
#sendfeedbackb{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width:10%;
  background:black;
  color:white;
 font-size:20px;
 border:27px solid black;
 font-family:'Playfair Display', serif;
 outline:none;
 cursor:pointer;
}
@media only screen and (max-width: 700px) {
  body{
  background:white;
  background-size:cover;
  background-position:center;
  
}
  .buttongroup{
    flex-direction:column;
    width:100%;
  }
  .buttongroup > a{
    color:black;
    width:100%;
    text-decoration:none;
    display:flex;
  justify-content:center;
  align-items:center;
  }
  .buttongroup > a > button{
    width:50vw;
    margin:10px;
    color:black;
  }
  .logo{
    font-size:100px;
  }
  .feedbackcontainer{
    flex-direction:column;
    width:90%;
    height:30vh;
  }
  #feedback,#email{
    width:50vw;
    height:50%;
  }
  #sendfeedbackb{
    height:30%;
    width:51.6vw;
  }
  .subtitle{
    flex-direction:column;
  }
  
}

